

.BlueBar {
    height:30px;
    margin:10px 0px 10px 0px;
    background-color:#7d9bff;
}

.RedBar {
    height:30px;
    margin:10px 0px 10px 0px;
    background-color:#ff8ea6;
}

.GreenBar {
    height:30px;
    margin:10px 0px 10px 0px;
    background-color:#81ffb3;
}

.YellowBar {
    height:30px;
    margin:10px 0px 10px 0px;
    background-color:#f6ff76;
}
/* 
.Option {
    margin-left: 25;
    display: inline-block;
} */