
.ResultBar{
    height:10px;
    margin:10px 0px 10px 0px;
}
.BlueBar {
    background-color:#7d9bff;
}

.RedBar {
    background-color:#ff8ea6;
}

.GreenBar {
    background-color:#81ffb3;
}

.YellowBar {
    background-color:#f6ff76;
}

.PurpleBar {
    background-color:#b547f5;
}

.TurquoiseBar {
    background-color:#47f5f5;
}

.OrangeBar {
    background-color:#fdc751;
}

.PinkBar {
    background-color:#f78bc6;
}


#blockContainer {
    display: flex;
}

.votes{
    text-align: center;
}